{{> nav}}

<div class="container">
  <div>
    <h1>comments page</h1>
    <h2 class="title">Title : {{title}}</h2>
    <h5>Description : {{description}}</h5>
  </div>

  <div>
    <form class="form-group mb-3 new_comment ">
      <label for="exampleFormControlTextarea1" class="form-label mt-5">Add your comment</label>
      <textarea class="form-control" id="commenttext" rows="3"></textarea>
      <button type="submit" class="btn btn-info mt-2"  id = "commentpost" value="{{id}}" > comment</button>
    </form>
  </div>
  <div>
    {{#if Comments.length}}
    <div class="col-md-6 comments-list">
      <h4>comments for the post</h4>
      {{#each Comments as |Comments|}}
      <div class="row mb-2 comments-list">
        <div class="col-md-8">
          <p>{{description}}</p>
          <p>{{user.fullname}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button> 
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>

<script src="/js/addcomment.js"></script>