{{> nav}}


<div class="container">
  <div>
    <h1>edit post id</h1>
    <h2 class="title">Title : {{title}}</h2>
    <h5>Description : {{description}}</h5>
  </div>

  {{!-- <div class="card text-white bg-info">
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Title : {{title}}</h4>
      <p class="card-text">Description : {{description}}</p>
    </div>
  </div>
</div> --}}

<div class="container">
  <h1>Update Post</h1>
  <form class ="new-post-form ">
    <div class="form-group">
      <label for="exampleInputtextarea1">Title</label>
      <input type="text" class="form-control" id="title" value="{{title}}">
    </div>
    <div class="form-group">
      <label for="exampleInputtextarea2">content</label>
      <textarea class="form-control" id="description" rows="3">{{description}}</textarea>
    </div>
    <button type="submit" class="btn btn-sm updatebutton bg-light" id="updatepost" value= "{{id}}">UPDATE</button>
    <button type="click" class="btn btn-sm btn-danger " data-id="{{id}}">DELETE</button>
  </form>
</div>




{{!-- <div class="container">
  <h1>Dashboard</h1>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn postbutton" onclick="showtextbox()">+Newpost</button>
  </div>
  <form class="container new-post-form" id="hidediv" style="display:none;">
    <div class="form-group">
      <label for="exampleInputtextarea1">Title</label>
      <input type="text" class="form-control" id="title" placeholder="mvc">
    </div>
    <div class="form-group">
      <label for="exampleInputtextarea2">content</label>
      <textarea class="form-control" id="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>

</div>
{{!-- /blogpost/{{blogpost.id}} --}}
{{!-- <div class="container">
  {{#each blogposts as |blogpost|}}
  <div style="cursor:pointer;">
    <div>
      <div class="row blogpost">
        <div class=" col title ">
          {{blogpost.title}}
        </div>
        <div class=" col-lg-6 title ">
        </div>
        <div class=" col justify-content-end title">
          {{ format_date blogpost.date_created}}
          {{blogpost.user.fullname}}
        </div>
        <div class="col-12 description">
          {{blogpost.description}}
        </div>
      </div>
    </div>
    <div class="form-group" style="display:none;">
      <div>
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="buttonmargin">
        <button type="submit" class="btn btn-sm updatebutton">Update</button>
        <button class="btn btn-sm btn-danger">DELETE</button>
      </div>
    </div>
  </div>
  {{/each}}

</div>




<script src="./js/showtextbox.js"></script> --}}
<script src="/js/editpost.js"></script>