<h1>blogpots ram</h1>

{{#each blogposts as |blogpost|}}
<div class="container">
  <a href="/blogpost/{{blogpost.id}}">
    <div class="row blogpost">
      <div class=" col title ">
        {{blogpost.title}}
      </div>
      <div class=" col-lg-6 title ">
      </div>
      <div class=" col justify-content-end title">
        {{ format_date blogpost.date_created}}
        {{blogpost.user.fullname}}
      </div>
      <div class="col-12 description">
        {{blogpost.description}}
      </div>
    </div>
  </a>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</div>
{{/each}}
<!-- Below, we close the #each helper. -->