<h1>blogpots ram</h1>

{{#each blogposts as |blogpost|}}
<div class="container">
  <div style="cursor:pointer;" onclick="hometextbox({{blogpost.id}})">
    <div class="row blogpost">
      <div class=" col title ">
        {{blogpost.title}}
      </div>
      <div class=" col-lg-6 title ">
      </div>
      <div class=" col justify-content-end title">
        {{ format_date blogpost.date_created}}
        {{blogpost.user.fullname}}
      </div>
      <div class="col-12 description">
        {{blogpost.description}}
      </div>
    </div>
  </div>
  <div class="form-group" id="hometext{{blogpost.id}}" style="display:none;">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control textareacomment" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="submit" class="btn btn-primary mb-2" >Submit</button>
  </div>
</div>
{{/each}}
<!-- Below, we close the #each helper. -->

<script src="./js/showtextbox.js"></script>