{{> nav}}

<div class="container">
  <h1>blogpots ram</h1>
  <div style="cursor:pointer;">
    {{#each blogposts as |blogpost|}}
      <div class="row blogpost" onclick="commentpage({{blogpost.id}})" id ="hometext{{blogpost.id}}">
        <div class="col-lg title">
          <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>          
        </div>
        <div class="col-lg-7 title">
        </div>
        <div class="col-lg title">
          {{ format_date blogpost.date_created}}
          
        </div>
        <div class="col-lg-12 description">
          {{blogpost.description}}
        </div>
      </div>
    {{/each}}

    <!-- Below, we close the #each helper. -->
  </div>
</div>
<script src="./js/addcomment.js"></script>
<script src="./js/showtextbox.js"></script>